# Скопируйте этот файл в .env и укажите параметры своей базы PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

# Длинная случайная строка для подписи JWT-токенов
JWT_SECRET="vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv"


PORT=5000
